- show_card ||= false

#comment_container
  .row
    .well.col-md-8
      %em
        - if show_card
          = comment.body on link_to comment.card.name, card_path(comment.card)
        - else
          = comment.body
           
