#rules-container
  %h1 
    %u
      Learn to play Amaranthe
  .panel-group
    .panel.panel-primary
      .panel-heading
        %h3 The Story
      .panel-body
        %h4
          %em
            It is said there existed a flower whose beauty never faded, the Amaranthe. Those near this flower were said to experience it's everlasting effect, they stopped aging.
            %br
            %br
            The gods looking to be amused decided to challenge mortals to a game. They would bestow the gift of the Amaranthe upon the first culture to prove their devotion to the god of their choice. Thus began the game of the Amaranthe...
    .panel.panel-primary
      .panel-heading
        %h3 The Objective
      .panel-body
        %h4
          In Amaranthe players will select one of the gods from the Greek pantheon to devote their resources to. Each god grants the player a different set of abilities, influences the cards they start with in their deck and describes the amount of devotion the player's culture will need, to prove their worthiness and be granted the gift of the Amaranthe.
          %br
          %br
          A player will win when the amount of devotion needed to convince the gods reaches 0.
        
