section#top-header
  background: #00CC99
  margin: 0
  margin-bottom: 20px
  padding: 12px 0
  border-radius: 5px
  .col-md-2.clearfix
    a
      font-weight: bold
      float: left
      margin-right: 20px
      color: white   
  .col-md-10.clearfix
    > a
      margin-right: 20px
      float: left
      font-weight: bold
      color: white